.userList   {
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: end;
    position: absolute;
    background-color: white;
    max-height: 150px;
    overflow-y: auto;
    scrollbar-width: none;
    transform: translate(-199%, -90%);
    opacity: 100%;
    border: solid 1px lightgrey;
    border-top-left-radius:  5px;
    border-top-right-radius: 5px;
    
}
.userList::-webkit-scrollbar   {
    display: none;
}

.user   {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user:hover {
    cursor: pointer;
    background-color: #f90;
}
